textarea,
.ace_editor {
  width: 900px;
  height: 220px;
  border: 1px solid darkgray;
}

body {
  font-family: sans-serif;
}

#critterManaContainer {
  margin-top: 5px;
  label {
    font-size: 12px;
    margin-right: 5px;
    color:#886D88;
  }
  .critter-mana {
  }
}
.load-text {
  display: none;
}
.slider {
  
}
.controls-container {
  display: flex;
}
.button {
  display: inline-flex;
  cursor: default;
  background-color:#C163C3;
  border: 0px;
  color:#F1C9F2;
  border-radius: 3px;
  padding: 4px 10px;
  margin-top: 5px;
  margin-right: 5px;
}

.sidebar-left {
  background-color: lightblue;
  min-width: 200px;
  float: left;
  height: 10000px;
}

.main-content-area {
  background-color: paleturquoise;
}

#mind-graph {
  background-color: #FBE6F9;

  line {
    stroke: pink;
    stroke-width: 4;
    
    &.left {
      stroke: palegreen;
    }
    
    &.right {
      stroke: pink;
    }
  }
  .node-type-action {
    background-color: lightblue;
  }
  .node-type-condition {
    background-color: palegreen;

  }
}
