@import 'critter';
@import 'resource';
@import 'rock';
@import 'world';
@import 'tile';

textarea,
.ace_editor {
  width: 900px;
  height: 220px;
  border: 1px solid darkgray;
}

body {
  font-family: sans-serif;
}
