.critter {
  width: inherit;
  height: 64px;
}
.critter.teal.west {
  background-image: url('../assets/critter/ordial_critter_isometric_west.png');
  top: -32px;
  position: relative;
}
.critter.teal.east {
  background-image: url('../assets/critter/ordial_critter_isometric_east.png');
  top: -32px;
  position: relative;
}
.critter.teal.south {
  background-image: url('../assets/critter/ordial_critter_isometric_south.png');
  top: -32px;
  position: relative;
}
.critter.teal.north {
  background-image: url('../assets/critter/ordial_critter_isometric_north.png');
  top: -32px;
  position: relative;
}
.critter.purple.west {
  background-image: url('../assets/critter/ordial_critter_isometric_west.png');
  top: -32px;
  position: relative;
}
.critter.purple.east {
  background-image: url('../assets/critter/ordial_critter_isometric_east.png');
  top: -32px;
  position: relative;
}
.critter.purple.south {
  background-image: url('../assets/critter/ordial_critter_isometric_south.png');
  top: -32px;
  position: relative;
}
.critter.purple.north {
  background-image: url('../assets/critter/ordial_critter_isometric_north.png');
  top: -32px;
  position: relative;
}
.critter.pink.west {
  background-image: url('../assets/critter/ordial_critter_isometric_west.png');
  top: -32px;
  position: relative;
}
.critter.pink.east {
  background-image: url('../assets/critter/ordial_critter_isometric_east.png');
  top: -32px;
  position: relative;
}
.critter.pink.south {
  background-image: url('../assets/critter/ordial_critter_isometric_south.png');
  top: -32px;
  position: relative;
}
.critter.pink.north {
  background-image: url('../assets/critter/ordial_critter_isometric_north.png');
  top: -32px;
  position: relative;
}
.critter.orange.west {
  background-image: url('../assets/critter/ordial_critter_isometric_west.png');
  top: -32px;
  position: relative;
}
.critter.orange.east {
  background-image: url('../assets/critter/ordial_critter_isometric_east.png');
  top: -32px;
  position: relative;
}
.critter.orange.south {
  background-image: url('../assets/critter/ordial_critter_isometric_south.png');
  top: -32px;
  position: relative;
}
.critter.orange.north {
  background-image: url('../assets/critter/ordial_critter_isometric_north.png');
  top: -32px;
  position: relative;
}
.critter.lavender.west {
  background-image: url('../assets/critter/ordial_critter_isometric_west.png');
  top: -32px;
  position: relative;
}
.critter.lavender.east {
  background-image: url('../assets/critter/ordial_critter_isometric_east.png');
  top: -32px;
  position: relative;
}
.critter.lavender.south {
  background-image: url('../assets/critter/ordial_critter_isometric_south.png');
  top: -32px;
  position: relative;
}
.critter.lavender.north {
  background-image: url('../assets/critter/ordial_critter_isometric_north.png');
  top: -32px;
  position: relative;
}
.critter.eggshell.west {
  background-image: url('../assets/critter/ordial_critter_isometric_west.png');
  top: -32px;
  position: relative;
}
.critter.eggshell.east {
  background-image: url('../assets/critter/ordial_critter_isometric_east.png');
  top: -32px;
  position: relative;
}
.critter.eggshell.south {
  background-image: url('../assets/critter/ordial_critter_isometric_south.png');
  top: -32px;
  position: relative;
}
.critter.eggshell.north {
  background-image: url('../assets/critter/ordial_critter_isometric_north.png');
  top: -32px;
  position: relative;
}
.critter.blue.west {
  background-image: url('../assets/critter/ordial_critter_isometric_west.png');
  top: -32px;
  position: relative;
}
.critter.blue.east {
  background-image: url('../assets/critter/ordial_critter_isometric_east.png');
  top: -32px;
  position: relative;
}
.critter.blue.south {
  background-image: url('../assets/critter/ordial_critter_isometric_south.png');
  top: -32px;
  position: relative;
}
.critter.blue.north {
  background-image: url('../assets/critter/ordial_critter_isometric_north.png');
  top: -32px;
  position: relative;
}
.critter.black.west {
  background-image: url('../assets/critter/ordial_critter_isometric_west.png');
  top: -32px;
  position: relative;
}
.critter.black.east {
  background-image: url('../assets/critter/ordial_critter_isometric_east.png');
  top: -32px;
  position: relative;
}
.critter.black.south {
  background-image: url('../assets/critter/ordial_critter_isometric_south.png');
  top: -32px;
  position: relative;
}
.critter.black.north {
  background-image: url('../assets/critter/ordial_critter_isometric_north.png');
  top: -32px;
  position: relative;
}
.resource {
  width: inherit;
  height: inherit;
  background-image: url('../assets/resource.png');
}
.tile {
  position: absolute;
  background-image: url("../assets/tile0.png");
}
.rock {
  width: inherit;
  height: inherit;
  background-image: url('../assets/rock.png');
}
#world td {
  width: 20px;
  height: 20px;
  background-color: floralwhite;
  margin: 0;
  padding: 0;
  border: 0;
}
textarea {
  width: 500px;
  height: 200px;
}
