#world td {
  width: 20px;
  height: 20px;
  background-color: floralwhite;
  margin: 0;
  padding: 0;
  border: 0;
}

#world .resource {
  background-color: royalblue;
  width: 100%;
  height: 100%;
}

#world td .critter.north {
  width: inherit;
  height: inherit;

  background-image:url('../assets/critter/ordial_critter_north_purple.png');
}

#world td .critter.south {
  width: inherit;
  height: inherit;

  background-image:url('../assets/critter/ordial_critter_south_purple.png');
}

#world td .critter.west {
  width: inherit;
  height: inherit;

  background-image:url('../assets/critter/ordial_critter_west_purple.png');
}

#world td .critter.east {
  width: inherit;
  height: inherit;

  background-image:url('../assets/critter/ordial_critter_east_purple.png');
}

textarea {
  width: 500px;
  height: 200px;
}